body,div#calendar{
  color: #F37221;
  background-color: #5C5C5C;
}

div.fc-toolbar.fc-header-toolbar > div.fc-left > h2{
  color: #FFFFFF;
  background-color: #F37221;
}

div.fc-toolbar.fc-header-toolbar div.fc-right{
  color: #5C5C5C;
  background-color: #5C5C5C;
}

div.fc-toolbar.fc-header-toolbar > div.fc-left > button{
  color: #F37221;
  background-color: #5C5C5C;
}

button.fc-state-default{
  background-color: #5C5C5C;
}

button.fc-state-hover{
  background-color: #5C5C5C;
}

div.fc-right{
 background-color: #5C5C5C;
}

div.fc-right.fc-button-group{
  color :#F37221;
}

div.fc-left{
 background-color: #5C5C5C;
}

div.fc-toolbar.fc-header-toolbar > div.fc-right > button{
  color: #F37221;
  border: none;
}

div.fc-toolbar.fc-header-toolbar > div.fc-left > button{
  color: #F37221;
  border: none;
}

div.fc-toolbar.fc-header-toolbar > div.fc-right > div > button.fc-next-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-active{
  background-color: #5C5C5C;
  border: none;
}

div.fc-toolbar.fc-header-toolbar > div.fc-right > div > button.fc-prev-button.fc-button.fc-state-default.fc-corner-left.fc-state-active{
  background-color: #5C5C5C;
  border: none;
}

div.fc-toolbar.fc-header-toolbar > div.fc-right > div > button.fc-month-button.fc-button.fc-state-default.fc.corner.leftfc-state-active{
  color: #F37221;
  background-color: #5C5C5C;
  border: none;
}

div.fc-toolbar.fc-header-toolbar > div.fc-right > div > button.fc-agendaWeek-button.fc-button.fc-state-default.fc-state-hover{
  color: #5C5C5C;
}

div.fc-toolbar.fc.header-toolbar > div.fc-right > div > button.fc-agendaDay-button.fc-button.fc-state-default.fc-state-hover{
  color: #5C5C5C
}

div.fc-toolbar.fc-header-toolbar > div.fc-right > div > button.fc-month-button.fc-button.fc-state-default.fc-state-active{
  color: #F37221;
  background-color: #5C5C5C;
}

div.fc-toolbar.fc-header-toolbar > div.fc-right > div > button.fc-agendaWeek-button.fc-button.fc-state-default.fc-state-active{
  color: #F37221;
  background-color: #5C5C5C;
}

div.fc-toolbar.fc.header-toolbar > div.fc-right > div > button.fc-agendaDay-button.fc-button.fc-state-default.fc-state-active{
  color: #F37221;
  background-color: #5C5C5C
}

div.fc-toolbar.fc-header-toolbar > div.fc-left > button{
  color: #F37221;
  background-color: #5C5C5C;
  border: none;
}

div.fc-toolbar.fc-header-toolbar > div.fc-left > button{
  color: #F37221;
  background-color: #5C5C5C;
  border: none;
}
/*
div.fc-toolbar.fc-header-toolbar > div.fc-right > div > button.fc-prev-button.fc-button.fc-state-default.fc-corner-left.fc-state-hover{
  background-color: #5C5C5C;
  border: none;
}

div.fc-toolbar.fc-header-toolbar > div.fc-right > div > button.fc-next-button.fc-button.fc-state-default.fc-corner-right.fc-state-hover{
  background-color: #5C5C5C;
  border: none;
} */

div.fc-toolbar.fc-header-toolbar > div.fc-right > button span.fc-icon.fc-icon-left-single-arrow{
  color: #F37221;
  background-color: #5C5C5C;
  border: none;
}

div.fc-toolbar.fc-header-toolbar > div.fc-right > button span.fc-icon.fc-icon-right-single-arrow{
  color: #F37221;
  background-color: #5C5C5C;
  border: none;
}


div.fc-toolbar.fc-header-toolbar div.fc-right div.fc-button-group{
  background-color: #5C5C5C;
  border: none;
}

button.fc-prev-button.fc-button.fc-state-default.fc-corner-left{
  color: #F37221;
  background-color: #5C5C5C;
}

button.fc-next-button.fc-button.fc-state-default.fc-corner-right{
  color: #F37221;
  background-color: #5C5C5C;
}

div.fc-button-group button.fc-prev-button.fc-button.fc-state-default.fc-corner-left.fc-state-hover{
  color: #F37221;
  background-color: #5C5C5C;
}

div.fc-button-group button.fc-next-button.fc-button.fc-state-default.fc-corner-right.fc-state-hover{
  color: #F37221;
  background-color: #5C5C5C;
}
div.fc-button-group button.fc-prev-button.fc-button.fc-state-default.fc-corner-left{
  color: #F37221;
  background-color: #5C5C5C;
}

div.fc-button-group button.fc-next-button.fc-button.fc-state-default.fc-corner-right{
  color: #F37221;
  background-color: #5C5C5C;
}

div.fc-toolbar.fc-header-toolbar > div.fc-right > div{
  background-color: #5C5C5C;
}


div.fc-toolbar.fc-header-toolbar > div.fc-left > div{
  background-color: #5C5C5C;
  border: none;
}

div.fc-view-container{
  background-color: #5C5C5C;
}

div.fc-view-container > div{
  background-color: #5C5C5C;
}

div.fc-view-container > div > table > tbody > tr > td{
  background-color: #5C5C5C;
}

div.fc-view-container > div > table > tbody{
  background-color: #5C5C5C;
}
